


<div class="container" ng-controller="candidateCtrl">
		<div>
			<br>

			Name:
			<br>
			<input type="text" placeholder="you are an asshole" ng-model="newCandidate.name" />
			{{ newCandidate.name }}
			<br>
			

			Location:
			<br>
			<input type="text" placeholder="nobody likes you" ng-model="newCandidate.location" />			{{ newCandidate.location }}
			<br>
			<br>

			<button ng-click="addCandidate()">Add Candidate</button>
		</div>
		<br>
		<div class="container">
			<!-- look up and use css overflow to make dem 1 size-->
			<ul ng-repeat="candidate in candidateList">
				<li><strong>Name:</strong>
				 {{ candidate.name }}  

					<strong>From:</strong> 
					{{ candidate.location }}
				<div>
					<button ng-click="editCandidate()">Edit</button>
					<button ng-click="deleteCandidate()">Delete</button>
				</div>
				</li>

			</ul>
		</div>

</div>