


<div class="container" ng-controller="candidateCtrl">
		

		<!-- ### search for candiddates ### -->

		<div>
			<br>
			<br>
			<input type="text" placeholder="search for duck" ng-model="searchCandidates.name" />

			<button ng-click="searchCandidates()">Search</button>
			{{ searchCandidates.name }}
		
		<!-- ### display candidates in the list ### -->

		<div class="container">
			<!-- look up and use css overflow to make dem 1 size-->
			<ul ng-repeat="candidate in candidateList">
				<li><strong>Name:</strong>
				 {{ candidate.name }}  

					<strong>From:</strong> 
					{{ candidate.location }}
				<div>
					<button ng-click="editCandidate()">Edit</button>
					<button ng-click="deleteCandidate()">Delete</button>
				</div>
				</li>

			</ul>
		</div>

</div>